body { 
	margin:100px 0 0 0; 
	width: 100%; 
	
/*	background: #DADFE1;*/
/*	background: #EEEEEE;*/
}

.projects-button {
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;

	padding:1.25em 1.25em;
    font-family:  "Montserrat", sans-serif;
    font-size:1rem;
 font-size: 1.2em;
 
	display:block;

	height:27px;

	width:40%;
/*	height:200px;
	width:400px;*/
	text-align:center;
	
	background-color:white;
	color:black;
	
	-webkit-transition-duration: 0.6s;
	transition-duration:0.6s;
	border:2px solid #ff4c2e;*/
}
.projects-button:hover {
	background-color:#ff4c2e;
	color:white;
/*	border-bottom:3px solid #ff4c2e;*/
}

.header {
	opacity:0.9;
	z-index:999;
	height:100px; 
	width:100%;
	position:fixed;
	border-bottom:1px solid #000; 
	background:#ff4c2e;
	top:0px;
}

.blurb {

/*	margin:100px;*/
}
a { 
	text-decoration: none; 
	color: white; 
}


.description-about {
		 font-family:  "Montserrat", sans-serif;
		 font-size:1rem;
}

.logo {
/*	display:inline;*/

}

.underline {
/*	border-bottom: 2px solid currentColor;*/
}

p, ul { 
	font-size: 1.3em;
/*	line-height: 2em;*/

}

h1,h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
/*h2 { font-size: 2.7em; }*/
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

.nav {
	
	list-style:none;
/*	text-align: center;*/
/*	padding: 20px 0 20px 0;*/
}

.nav > li {
	display:inline-block;
	padding: 0 25px 0 25px;
	float:right;
}

.nav > li > a {
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Montserrat', serif;
}
.nav > li > a:hover {
border-bottom: 2px solid currentColor;
/*	text-decoration-color:blue;
	text-decoration-style:solid;
	text-underline-position: under;*/

}

a.logo {
/*	color:blue;*/
	float:left;
	margin-left:5% ;
}

.seperator-bottom:after {
    content: '';
    display: block;
    width: 3.75em;
    height: 0.125em;
    background: #ff4c2e;
    margin: 1.0625em auto 2.625em;
}

.heading-font {
    font-family: 'Sans-Serif', 'Arial';
}
.zeta {
	margin-top:80px;
    font-size: 16px;
    font-size: 1rem;
}

.condensed-font {
	width:80%; 
	margin:20px auto; 
}

.gamma {
    font-size: 42px;
    font-size: 2.625rem;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}

.general-image {
	width:40%;
	display:inline-block;
}



 .fast-image-transition  {
/* 	margin:0px auto;*/
 	overflow:hidden;
 	width:100%;
 /*	 width: 400px;
 	 height:200px;*/
 	 /*text-align: center;
 	 margin-top:0;*/
 }
 
 .fast-image-transition img {
	
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  }
 
 .fast-image-transition img:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  }
  
  .example_text {
	  pointer-events:none;
      display:block;
      position:absolute;
      left:0;
      bottom:0px;
      width:100%;
      box-sizing:border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; 
     
      color:#fff;
         
      padding:10px;
      background-color:rgba(0,0,0,0.5);
  }
.example_text span {
	font-size:18px;
}
/*  .example_text:hover {
	  -webkit-transform: scale(1.1);
	  -moz-transform: scale(1.1);
	  -o-transform: scale(1.1);
  }*/

/*footer { border-top: 1px solid #d5d5d5; font-size: .8em; }*/

/* Blog */
/*ul.posts { margin: 20px auto 40px; font-size: 1.5em; }*/
/*ul.posts li { list-style: none; }*/

 .imagecontainer {
	 position:relative;
	 display:inline-block;
	 width:32%;
	 
/*	 	 width:calc(100%/3);*/
/*	 float:left;*/
	 
/*	 border: 1px solid #FFFFFF;*/
	 
/*	 margin:5px;*/
 }
 
 .center {
     margin: 0 auto;
     width:100%;
	 height:auto;
     text-align:center;
/*	 border: 3px solid red;*/
 }
 
 .imagecontainer img {
/* display: inline-block;*/
/* padding: 5px;*/
 width:100%;
/* height:100%;*/

 }
 
 .imagecontainer:hover img {
/* display: inline-block;*/
 opacity:0.5;
 }
 
 .desc {
	 display:block;
	 position:absolute;
	 bottom:1px;
	 margin:0;
 }















/* SLIDER REGION*/

 @keyframes slider {

 0% {
 	left: 0;
 }

 20% {
 	left: 0;
 }

 25% {
 	left: -100%;
 }

 45% {
     left: -100%;

 }

 50% {
 		left: -200%;

 }

 70% {
 	left: -200%;
 }

 75% {
 	left: -300%;
 }

 95% {
 	left: -300%;
 }

 100% {
 	left: -400%;

 }

 }

 #slider {
 	overflow: hidden;
 }

 #slider figure img {
 	width: 20%;
 	float: left;
    -moz-transition: all 5s ease-out;
    -o-transition: all 5s ease-out;
    -webkit-transition: all 5s ease-out;
 }
 #slider figure img:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 #slider figure {
 	position: relative;
 	width: 500%;
 	margin: 0;
 	left: 0;
 	text-align: left;
 	font-size: 0;
 	animation: 20s slider infinite; 

 }



/*
 .image {
 	margin:0px auto;
 	overflow:hidden;
 	width:100%;

 }*/
/*

 .image img {

  -moz-transition: all 5s ease-out;
  -o-transition: all 5s ease-out;
  -webkit-transition: all 5s ease-out;
  }

 .image img:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  }
*/






