body { margin: 0px auto; width: 100%; 

/*	background: #DADFE1;*/
/*	background: #EEEEEE;*/
}

.blurb {
/*	margin:100px;*/
}
a { 
	text-decoration: none; 
	color: white; 
}


.description-about {
		 font-family:  "Montserrat", sans-serif;
		 font-size:1rem;
}

.logo {
	display:inline;
	vertical-align:center;
}

.underline {
/*	border-bottom: 2px solid currentColor;*/
}

p, ul { 
	font-size: 1.3em;
	line-height: 2em;
/*	color: #333;*/
}

h1,h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
/*h2 { font-size: 2.7em; }*/
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

.nav {
	list-style:none;
	text-align: center;
	padding: 20px 0 20px 0;
}

.nav > li {
	display:inline-block;
	padding: 0 25px 0 25px;
	float:right;
}

.nav > li > a {
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Montserrat', serif;
}
.nav > li > a:hover {
border-bottom: 2px solid currentColor;
/*	text-decoration-color:blue;
	text-decoration-style:solid;
	text-underline-position: under;*/

}

a.logo {
/*	color:blue;*/
	float:left;
	margin-left:5% ;
}

.seperator-bottom:after {
    content: '';
    display: block;
    width: 3.75em;
    height: 0.125em;
    background: #ff4c2e;
    margin: 1.0625em auto 2.625em;
}

.heading-font {
    font-family: 'Sans-Serif', 'Arial';
}
.zeta {
	margin-top:80px;
    font-size: 16px;
    font-size: 1rem;
}

.condensed-font {
	width:80%; 
	margin:20px auto; 
}

.gamma {
    font-size: 42px;
    font-size: 2.625rem;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}

.image {
	margin:0px auto;
	overflow:hidden;
	width:80%;
/*	 width: 400px;
	 height:200px;*/
	 /*text-align: center;
	 margin-top:0;*/
}

.image img {
	
 -moz-transition: all 5s ease-out;
 -o-transition: all 5s ease-out;
 -webkit-transition: all 5s ease-out;
 }
 
.image img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

/*footer { border-top: 1px solid #d5d5d5; font-size: .8em; }*/

/* Blog */
/*ul.posts { margin: 20px auto 40px; font-size: 1.5em; }*/
/*ul.posts li { list-style: none; }*/


