<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
	  
	<div style="margin:0 auto;">
		<!-- <a class="logo" href="/"> <img src="/assets/img/logo.jpg" height="50" width="100" /> </a> -->

		<div style="height:100px; border-bottom:1px solid #000;">
			<ul class="nav">
				<a class="logo" href="/"><img src="/assets/img/logo.jpg" height="50" width="100" /> </a>
				<li><a href="/">О нас</a><li>
				<li><a href="/">Проекты</a><li>
				<li><a href="/">Робототехника</a><li>
				<li><a href="/blog">Блог</a></li>
				<!-- <li><a href="/blog">Контакты</a></li>  -->
			</ul>
		</div>
	
		<div class="container" style="clear: both;">
		    {{ content }}
		</div>
  
  
  <footer>
   <ul>
   <li><a href="mailto:1@gmail.com">email</a></li>
   </ul>
  </footer>
	</div>
  </body>

</html>
